/* Global */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  min-height: 100dvh;
  background-color: #f1f5f8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
  font: inherit;
}

h1,
h2,
h3 {
  text-wrap: balance;
  overflow-wrap: break-word;
  line-height: 1.2;
}

p {
  text-wrap: pretty;
  line-height: 1.6;
}

svg {
  height: auto;
  max-width: 100%;
}

/* Styles */

.section {
  padding: 4rem 1rem;
}

.container {
  max-width: 45rem;
  margin: 0 auto;
}

.main-title {
  font-size: 1.875rem;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.paragraph {
  margin-bottom: 2rem;
}

.second-title {
  font-size: 1.375rem;
  opacity: 0.85;
  margin-bottom: 2rem;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.label {
  display: block;
  font-size: 1.125rem;
  font-weight: 600;
  color: #404040;
  margin-bottom: 0.2rem;
}

.small-text {
  display: block;
  font-size: 0.813rem;
  margin-bottom: 0.6rem;
}

.input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  opacity: 0.85;
  outline: none;
  border: 2px solid #18181830;
  border-radius: 1rem;
  background: transparent;
  transition: border 0.4s;
}

.input:focus {
  border: 2px solid #2c51e4;
}

.icon {
  margin-top: 0.5rem;
  width: 3rem;
  height: 3rem;
}

@media screen and (max-width: 820px) {
  .section {
    padding: 2rem 1rem;
  }

  .grid {
    gap: 1rem;
  }
}